::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0;
  background-color: red;
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  opacity: 0.2;
  display: none;
  border-radius: 0;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 14px;
  -webkit-border-bottom-left-radius: 14px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #c4c4c4;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}